{% extends'base.html.twig' %}
{% block body %}

    <div class="mx-auto p-5" style="width: 800px">
        <h3 class="text-danger font-weight-bolder  ">Welkom bij Trainings Centrum Den Haag</h3>
        <p>
            Training Centrum Den Haag <br>
            Telefoon : 010 619 0512 <br>
        </p>
    </div>

{% endblock %}