{% extends'base.html.twig' %}
 {% block body %}
<div class="mx-auto p-5" style="width: 800px">



        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" >registreren</button>
        {{ form_end(form) }}

</div>
{% endblock %}